[Unit]
Description=Transactionally rotate InplaceX DB-IP Country Lite database
After=network-online.target docker.service nginx.service
Wants=network-online.target docker.service nginx.service
ConditionPathExists=/etc/inplacex-online/backend.env

[Service]
Type=oneshot
User=root
Group=root
ExecStart=/usr/bin/bash -p /usr/local/libexec/inplacex/production/rotate-geoip.sh /etc/inplacex-online/backend.env
TimeoutStartSec=20min
Nice=10
IOSchedulingClass=best-effort
